<div class="slider-area">
    <!-- Slider -->
    <div class="block-slider block-slider4">
        <ul class="" id="bxslider-home4">
            <li>
                <img src="img/banner-oppo.jpg" alt="Slide">
                <div class="caption-group">
                    <h2 class="caption title">
                        <span class="primary"><strong></strong></span>
                    </h2>
                    <h4 class="caption subtitle"></h4>
                </div>
            </li>
            <li><img src="img/banner-iphone.jpg" alt="Slide">
                <div class="caption-group">
                    <h2 class="caption title">
                        <span class="primary"> <strong></strong></span>
                    </h2>
                    <h4 class="caption subtitle"></h4>
                </div>
            </li>
            <li><img src="img/banner.jpg" alt="Slide">
                <div class="caption-group">
                    <h2 class="caption title">
                        <span class="primary"> <strong></strong></span>
                    </h2>
                    <h4 class="caption subtitle"> </h4>
                </div>
            </li>
        </ul>
    </div>
    <!-- ./Slider -->
</div> <!-- End slider area -->
